*
!.gitignore
!index.html
!Assets/
Assets/*
!Assets/РЇРґСЂРѕ РїСЂРѕР±Р»РµРјС‹.png
!Assets/РЎРёСЃС‚РµРјРЅС‹Рµ РёР·РјРµРЅРµРЅРёСЏ-left.png
!Assets/РЎРёСЃС‚РµРјРЅС‹Рµ РёР·РјРµРЅРµРЅРёСЏ-right.png
!Assets/РЎРёСЃС‚РµРјРЅС‹Рµ РёР·РјРµРЅРµРЅРёСЏ-main.png
!Assets/РџСЂРёРјРµСЂ СЂР°Р±РѕС‚С‹ СЃ Р·Р°РґР°С‡РµР№-scheme2.png
!Assets/РџСЂРёРјРµСЂ СЂР°Р±РѕС‚С‹ СЃ Р·Р°РґР°С‡РµР№-main.png
!Assets/РџСЂРёРјРµСЂ СЂР°Р±РѕС‚С‹ СЃ Р·Р°РґР°С‡РµР№-left.png
!Assets/РџСЂРёРјРµСЂ СЂР°Р±РѕС‚С‹ СЃ Р·Р°РґР°С‡РµР№-right.png
!Assets/РџРѕРјРёРјРѕ РѕСЃРЅРѕРІРЅРѕРіРѕ РїСЂРѕРґСѓРєС‚Р°-1.png
!Assets/РџРѕРјРёРјРѕ РѕСЃРЅРѕРІРЅРѕРіРѕ РїСЂРѕРґСѓРєС‚Р°-2.png
!Assets/DS-mobi.png
